/* css/main.css */
@import url('base.css');
@import url('header.css');
@import url('controls.css');
@import url('scales.css');
/* @import url('location.css'); */
/* @import url('calculations.css'); */
@import url('workspace.css');
@import url('view-controls.css');
@import url('pipes.css');
@import url('draggable-texts.css');
@import url('elements.css');
@import url('animations.css');
@import url('pdf.css');
@import url('status.css');
@import url('badges.css');
@import url('responsive.css');